body.food{
    background-color: #0c6300;
    font-family: Tahoma, Verdana, sans-serif;
}

body.aboutme{
    background-color: #4d05b3;
    font-family: Tahoma, Verdana, sans-serif;
}

body.teams{
    background-color: #EF0107;
    font-family: Tahoma, Verdana, sans-serif;
}

img.honpic{
    border-radius: 25px;
    width: 600px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.teampic{
    width: auto;
    height: 500px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img.teampic2{
    width: 700px;
    height: auto;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

img.boutpic{
    width: 700px;
    height: 500px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

img.boutpic2{
    width: 500px;
    height: 500px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

img.boutpic3{
    width: 400px;
    height: auto;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

body.homepage{
    background-color: lightblue;
    font-family: Tahoma, Verdana, sans-serif;
}

h1.top3foods{
    font-family: Tahoma, Verdana, sans-serif;
    color: #84bf7c;
    text-align:center;
    font-size:40px;
}

h3.homepage{
    font-family: Tahoma, Verdana, sans-serif;
    color: #00159c;
    position:absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-align: center;

}

h2.homepage{
    font-family: Tahoma, Verdana, sans-serif;
    color: #00159c;
}

div.homepage{
    color: #00159c;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 22px;
    text-align: center;
    padding-right: 100px;

}

div.footer{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    text-align: right;
    padding: 25px;
    color: #00159c;
}

p.centered{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 30px;
    text-align: right;
    margin:auto;
    padding: 25px;
    color: #e298e3;
}

p.centered1{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: 25px;
    color: #e298e3;
}

p.centered2{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding: 25px;
    color: #e298e3;
}

h2.centered{
    font-family: Tahoma, Verdana, sans-serif;
    text-align: right;
    padding: 25px;
    color: #e298e3;
}

h2.centered1{
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
    margin:auto;
    padding: 25px;
    color: #e298e3;
}

ul.centered{
    font-family: Tahoma, Verdana, sans-serif;
    text-align: right;
    padding: 25px;
    color: #e298e3;
}

h6.centered1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
h6.centered2{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h6.centered1hidden{
    position:absolute;
    top: 50%;
    left: 50%;
    opacity:0;
    transform: translate(-50%, -50%)
}
h6.centered2hidden{
    position:absolute;
    top: 50%;
    left: 50%;
    opacity:0;
    transform: translate(-50%, -50%)
}

h6.centered3{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
h6.centered4{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h6.centered3hidden{
    position:absolute;
    top: 50%;
    left: 50%;
    opacity:0;
    transform: translate(-50%, -50%)
}
h6.centered4hidden{
    position:absolute;
    top: 50%;
    left: 50%;
    opacity:0;
    transform: translate(-50%, -50%)
}


img.center{
    border-radius: 25px;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

tr.centered, td.centered{
    padding-top:5%;
    padding-bottom:5%;
    padding-left:25%;
    padding-right:25%;
}

div.imgalign{
position:relative;
}

img.default2
{
position:relative;
border-radius: 25px;
width: 500px;
height: 700px;
object-fit: cover;
opacity: 1.0;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}

img.default
{
position:relative;
border-radius: 25px;
width: 600px;
height: 400px;
object-fit: cover;
opacity: 1.0;
display: block;
margin-left: auto;
margin-right: auto;
}

img.homepic
{
display: block;
margin-left: auto;
margin-right: auto;
position:relative;
border-radius: 25px;
width: 600px;
height: 400px;
object-fit: cover;
opacity: 0.2;
animation: fadeOut 4s;
-webkit-animation: fadeOut 4s;
-moz-animation: fadeOut 4s;
-o-animation: fadeOut 4s;
-ms-animation: fadeOut 4s;
}
@keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0.2;
}
}
@-webkit-keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0.2;
}
}
@-moz-keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0.2;
}
}
@-o-keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0.2;
}
}
@-ms-keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0.2;
}
}

h6.fadeIn{
opacity: 1;
animation: fadeIn 4s;
-webkit-animation: fadeIn 4s;
-moz-animation: fadeIn 4s;
-o-animation: fadeIn 4s;
-ms-animation: fadeIn 4s;
}
@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@-webkit-keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@-moz-keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@-o-keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@-ms-keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}